
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

@{
    ViewBag.Title = "CreateOrder";
}
<style>
    #chosenAssays {
        overflow: auto;
        height: 300px;
    }

    .compoundChoice {
        margin: 0px;
        padding: 2px;
        border-radius: 3px;
    }

    .compoundChoice:hover {
        background-color: rgba(0, 123, 255, .3);
    }

    .pointer {
        cursor:pointer;
        user-select: none;
    }

    .border {
        border: solid grey 1px !important;
        border-radius: 2px;
        padding: 5px;
    }

    .assayType {
        margin: 10px;
        border: solid black 1px;
        border-radius: 5px;
        padding: 5px;
    }

    .tag {
        padding: 5px;
        margin: 5px;
        border: solid grey 1px;
        border-radius: 5px;
    }

    .box {
        overflow: auto;
        border: solid black 1px;
    }

    #assays {
        height: 300px;
    }
</style>

<div class="container-fluid">
    <div class="form-group">
        <h5 class="control-label" for="exampleInputEmail">Compound</h5>
        <input type="text" class="form-control" id="exampleInputEmail" placeholder="Type the compound you will ship...">
        <div id="compoundsYa"></div>
    </div>
    <br />
    <h5>Assay</h5>
    <div class="row">
        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-bar-chart"></i> Click on desired Assay
                </div>
                <div class="card-body">
                   @* fill this div *@
                    <div id="assays" class="row"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-bar-chart"></i> Chosen Assays
                </div>
                <div class="card-body">
                   @* fill this div *@
                    <div id="chosenAssays" class="col-md-12"></div>
                </div>
            </div>
        </div>

    </div>

    <div class="form-group">
        <h5>Any Additional Information</h5>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

    <div class="checkbox">
        <h5>Rush Order? </h5>
        <input type="checkbox"> Yes
    </div>
    <br />

    <button type="submit" onclick="window.location = '/Customer/OrderSummary'" class="btn btn-default">Submit</button>
</div>
<br />

<footer class="sticky-footer">
    <div class="container">
        <div class="text-center">
            <small>Copyright © Northwest Labs, Inc.</small>
        </div>
    </div>
</footer>

<script>
    var compounds = {
        Morphobond:'Morphobond',
        Amlodipine:'Amlodipine',
        Methadone:'Methadone',
        Percocet:'Percocet',
        Hydrocodone:'Hydrocodone',
        Buprenorphine:'Buprenorphine',
        Lisinopril:'Lisinopril',
        Simvastatin:'Simvastatin',
        Levothyroxine:'Levothyroxine',
        Omeprazole:'Omeprazole' 
    };
    var assays = {
        BiochemicalPharmacology: 'BiochemicalPharmacology',
        DiscoveryScreen: 'DiscoveryScreen',
        ImmunoScreen: 'ImmunoScreen',
        ProfilingScreen: 'ProfilingScreen',
        PharmaScreen: 'PharmaScreen',
        CustomScreen: 'CustomScreen'
    };
    var matching = [];

    $('#exampleInputEmail').on('keyup', function (e) {
        $('#compoundsYa').removeClass('border');
        $('#compoundsYa').html('');
        matching = [];
        let compoundValue = e.target.value.toLowerCase();
        for (var c in compounds) {
            if (compoundValue && compounds[c].toLowerCase().includes(compoundValue)) {
                matching.push(compounds[c]);
            }
        }

        matching.forEach(match => {
            $('#compoundsYa').append(`<h5 class="compoundChoice pointer" onclick="replaceCompoundChoice('${match}')">${match}</h5>`);
            $('#compoundsYa').addClass('border');
        });
    });

    function removeFromAssayList(assay) {
        $('.tag[name=' + assay + ']').remove();
        $('.assayType[name=' + assay + ']').css("background-color", "white");
    }

    function addToAssayList(assay) {
        $('#chosenAssays').append('<h5 class="col-md-12 tag text-center" style="background-color: rgba(0, 123, 255, .5);" name="' + assay + '">' + assay + '<span style="float:right;" class="pointer" onclick="removeFromAssayList(`' + assay + '`)">X</span></h5>')
        $('.assayType[name=' + assay + ']').css("background-color", "rgba(0, 123, 255, .5)");
    }


    function addAssays() {
        for (var a in assays) {
            $('#assays').append(`<h5 class="col-md-5 text-center assayType pointer" name="${assays[a]}" onclick="addToAssayList('${assays[a]}')">${assays[a]}</h5>`);
        }
    }

    function replaceCompoundChoice(compound) {
        $('#exampleInputEmail').val(compound);
        $('#compoundsYa').removeClass('border');
        $('#compoundsYa').html('');
    }
    addAssays();
</script>
