
@{
    ViewBag.Title = "CreateOrder";
}

<div class="container-fluid">
    <form role="form">
        <div class="form-group">
            <label class="control-label" for="exampleInputEmail">Compound</label>
            <input type="text" class="form-control" id="exampleInputEmail" placeholder="Type Compound...">
        </div>
        <div class="form-group">
            <label class="control-label" for="exampleInputEmail">Assay</label>
            <input type="text" class="form-control" id="exampleInputEmail" placeholder="Search bar with dropdown on focus">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>