<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

@{
    ViewBag.Title = "CustomerPortal";
}

<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/Customer">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">My Dashboard</li>
    </ol>
    <!-- Icon Cards-->
    <div class="row">
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-3">
                    <div  class="card text-white bg-primary o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fa fa-fw fa-shopping-cart"></i>
                            </div>
                            <div class="mr-5">Create New Order</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="/Customer/CreateOrder">
                            <span class="float-left">Click here</span>
                            <span class="float-right">
                                <i class="fa fa-angle-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-3">
                    <div class="card text-white bg-success o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fa fa-fw fa-list"></i>
                            </div>
                            <div class="mr-5">Make a Payment</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="#">
                            <span class="float-left">Click here</span>
                            <span class="float-right">
                                <i class="fa fa-angle-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Example Bar Chart Card-->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-bar-chart"></i> Status of Orders
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-8 my-auto">
                            <canvas id="myBarChart" width="100" height="50"></canvas>
                        </div>
                        <div class="col-sm-4 text-center my-auto">
                            <div class="h4 mb-0 text-primary">2</div>
                            <div class="small text-muted">Not Arrived</div>
                            <hr>
                            <div class="h4 mb-0" style="color:#d93e2b;">14</div>
                            <div class="small text-muted">Arrived</div>
                            <hr>
                            <div class="h4 mb-0 text-warning">6</div>
                            <div class="small text-muted">In Testing</div>
                            <hr>
                            <div class="h4 mb-0 text-success">8</div>
                            <div class="small text-muted">Complete</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <!-- Example Notifications Card-->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-bell-o"></i> Notifications
                </div>
                <div class="list-group list-group-flush small">
                    <a class="list-group-item list-group-item-action" href="#">
                        <div class="media">
                            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                            <div class="media-body">
                                <strong>David Miller</strong>posted a new article to
                                <strong>David Miller Website</strong>.
                                <div class="text-muted smaller">Today at 5:43 PM - 5m ago</div>
                            </div>
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-action" href="#">
                        <div class="media">
                            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                            <div class="media-body">
                                <strong>Samantha King</strong>sent you a new message!
                                <div class="text-muted smaller">Today at 4:37 PM - 1hr ago</div>
                            </div>
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-action" href="#">
                        <div class="media">
                            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                            <div class="media-body">
                                <strong>Jeffery Wellings</strong>added a new photo to the album
                                <strong>Beach</strong>.
                                <div class="text-muted smaller">Today at 4:31 PM - 1hr ago</div>
                            </div>
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-action" href="#">
                        <div class="media">
                            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                            <div class="media-body">
                                <i class="fa fa-code-fork"></i>
                                <strong>Monica Dennis</strong>forked the
                                <strong>startbootstrap-sb-admin</strong>repository on
                                <strong>GitHub</strong>.
                                <div class="text-muted smaller">Today at 3:54 PM - 2hrs ago</div>
                            </div>
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-action" href="#">View all notifications...</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid-->
<!-- /.content-wrapper-->
<footer class="sticky-footer">
    <div class="container">
        <div class="text-center">
            <small>Copyright © Your Website 2017</small>
        </div>
    </div>
</footer>
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
</a>
<!-- Logout Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>
<div id="chatBox">
    <div class="card text-white o-hidden h-100 chatCardBox" style="display:none;">
        <div class="card-body">
            <div class="border" style="height:190px; border-radius:5px; margin-bottom: 10px; font-size: 12px; overflow-y:auto; overflow-x: hidden;" id="chatComment">
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="2" id="chatCommentEnter"></textarea>
            </div>
        </div>
    </div>
    <div class="card text-white o-hidden h-100 chatCard pointer">
        <div class="card-body">
            <div class="card-body-icon">
                <i class="fa fa-fw fa-comments" height="50px"></i>
            </div>
            <div class="mr-5">Ask questions through chat!</div>
        </div>
    </div>
</div>

<script>
    $('.chatCard').on('click', function () {
        $('.chatCardBox').fadeToggle();
    });

    var count = 1;
    $('#chatCommentEnter').keydown(function(e) {
        if (e.keyCode == 13) {
            e.preventDefault();
            $('#chatComment').append('<p style="padding: 10px; margin-bottom: 0px;"><b><u>Customer</u>:</b>   '+e.target.value+'</p>');
            e.target.value = '';
            $('#chatComment').scrollTop($('#chatComment')[0].scrollHeight);
            setTimeout(function () {
                if (count == 1) {
                    $('#chatComment').append('<p style="padding: 10px; padding-left: 30px; margin-bottom: 0px;"><b><u>Seattle Employee</u>:</b> Sure thing! Give me a second and Ill get right back to you.</p>');
                    setTimeout(function () {
                        $('#chatComment').append('<p style="padding: 10px; padding-left: 30px; margin-bottom: 0px;"><b><u>Seattle Employee</u>:</b> It looks like that assay could be anywhere between $700-$1000.</p>');
                    }, 5100);
                }
                if (count == 2) $('#chatComment').append('<p style="padding: 10px; padding-left: 30px; margin-bottom: 0px;"><b><u>Seattle Employee</u>:</b> Depending on how busy we are, it could take anywhere from  3 to 7 days to run the tests and analyze the results.</p>');
                $('#chatComment').scrollTop($('#chatComment')[0].scrollHeight);
                count++;
            }, 3000);
        }
    });
</script>
