
@{
    ViewBag.Title = "OrderSummary";
}


<div class="container-fluid">
    <div class="text-center" style="border:solid black 1px;">
        <h1>Order Details</h1>
        <br />
        <h3>Compound: Methadone</h3>
        <h3>Assays: DiscoveryScreen, ImmunoScreen</h3>
        <h3>Expected Price: $775 - $1025</h3>
        <h3>Comments: None</h3>
        <h3>Rush: Yes</h3>
        <br />
        <h2>Print this document and insert it into the box you send</h2>
        <br />
        <br />
        <img src="~/Content/img/barcode.jpg" style="height: 200px;" alt="barcode" />
    </div>

</div>
